<% if object.errors.any? %>
<br/>
<div class="alert alert-error">
  <h4 class="alert-heading">There were some errors with your request:</h4>
  <ul>
    <% object.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>